name: kafka-rest
lang: unknown
lang_version: unknown
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_type: cp
  nano_version: true
  downstream_projects: ["confluent-security-plugins", "ce-kafka-rest", "confluent-cloud-plugins"]
  # kafka-rest has many tests and needs a bigger machine to avoid occasional crashed builds
  machine_type: s1-prod-ubuntu20-04-amd64-2
git:
  enable: true
code_artifact:
  enable: true
  package_paths:
    - maven-snapshots/maven/io.confluent/kafka-rest
    - maven-snapshots/maven/io.confluent/kafka-rest-parent
    - maven-snapshots/maven/io.confluent/kafka-rest-console-scripts
