Source: confluent-kafka-rest
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), dh-systemd, java7-jdk, javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-kafka-rest
Architecture: all
Depends: ${misc:Depends}, confluent-rest-utils, adduser
Description: A REST proxy for Kafka
 The Kafka REST Proxy provides a RESTful interface to a Kafka cluster. It makes
 it easy to produce and consume messages, view the state of the cluster, and
 perform administrative actions without using the native Kafka protocol or
 clients. Examples of use cases include reporting data to Kafka from any frontend
 app built in any language, ingesting messages into a stream processing framework
 that doesn't yet support Kafka, and scripting administrative actions.
